@using RandomKaraoke.Models.VM
@model SongsIndexVM
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<head>
    <title>RANDOM KARAOKE</title>

</head>
<body>
    @*<div class="dropdown">
            <button onclick="toggleDropDown()" class="dropbtn">Välj skiva</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Alla skivor</a>
                <a href="#">Lips</a>
                <a href="#">Number One Hits</a>
            </div>
        </div>*@

    @*<div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Välj skiva
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Alla skivor</a></li>
                <li><a href="#">Lips</a></li>
                <li><a href="#">Number One Hits</a></li>
            </ul>
        </div>*@

    <div class="row">
        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <form asp-action="Index" id="playForm">
                @if (Model != null)
                {
                    <input type="text" hidden="hidden" name="id" value="@Model.Disc" id="cd-id" />
                }
                else
                {
                    <input type="text" hidden="hidden" name="id" value="Lips" id="cd-id" />
                }
                <input type="submit" id="playButton" value="Play" class="btn btn-default btn-lg center-block" />
            </form>
        </div>

        <div class="col-sm-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Välj skiva
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Alla skivor</a></li>
                    <li><a href="#">Lips</a></li>
                    <li><a href="#">Number One Hits</a></li>
                </ul>
                <select id="cdSelect">
                    @if (Model != null && Model.Disc.ToLower() == "Number One Hits".ToLower())
                    {
                        <option value="0">Lips</option>
                        <option value="1" selected="selected">Number One Hits</option>
                    }
                    else
                    {
                        <option value="0">Lips</option>
                        <option value="1">Number One Hits</option>
                    }
                </select>
            </div>

        </div>
    </div>



    @*<form asp-action="Index">
            <input type="submit" value="Play" class="btn btn-default btn-lg center-block" />
        </form>*@

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            @if (Model != null)
            {
                <div>
                    <b> @Model.FirstPlayer</b> och <b> @Model.SecondPlayer</b> ska sjunga <i>@Model.Title</i> av @Model.Artist
                </div>

                //Varför hade jag dessa?
                <input type="hidden" id="artist" value="@Model.Artist" />
                <input type="hidden" id="songtitle" value="@Model.Title" />
            }

            <div id="image" style="display:none">
                <img src="" id="imgfile" class="img-rounded center-block" width="250" height="250">
            </div>

            <div id="audio" style="display:none">
                <audio src="" class="center-block" id="audiofile" controls autoplay loop></audio>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>


    @*@if (Model != null)
        {
            <br />
                <br />

                <div>
                    <b> @Model.PlayerName</b> ska sjunga <i>@Model.Title</i> av @Model.Artist
                </div>

            //Varför hade jag dessa?
            <input type="hidden" id="artist" value="@Model.Artist" />
                <input type="hidden" id="songtitle" value="@Model.Title" />

                <br />
                <br />
        }

        <div id="image" style="display:none">
            <img src="" id="imgfile" class="img-rounded" width="250" height="250">
        </div>

        <div id="audio" style="display:none">
            <audio src="" id="audiofile" controls autoplay loop></audio>
        </div>*@

    <script>
        $(document).ready(function () {
            $('#cdSelect').change(function () {
                var skillsSelect = document.getElementById("cdSelect");
                var selectedText = skillsSelect.options[skillsSelect.selectedIndex].text.replace(/ /g, '');
                $('#cd-id').val(selectedText);
            });


            var artist = $("#artist").val();
            var songtitle = $("#songtitle").val();
            var url = "https://api.spotify.com/v1/search?q=" + songtitle + "+" + artist + "&type=track&limit=1";
            console.log(url);
            if (artist && songtitle) {
                $.get(url).done(function (data) {
                    console.log(data);
                    var preview = data.tracks.items["0"].preview_url;
                    var img = data.tracks.items["0"].album.images["0"].url

                    $("#image").show();
                    $("#audio").show();
                    document.getElementById('audiofile').setAttribute('src', preview);
                    document.getElementById('imgfile').setAttribute('src', img);

                    //var audio = new Audio(preview);
                    //audio.play();
                    //document.getElementById('audiofile').setAttribute('type', 'normal');
                    //$("#audiofile").src = preview;
                    //$("#audiofile").play();
                    //var url = "https://api.spotify.com/v1/search?q=" + artist + "&type=artist";
                    //var audio = new Audio('https://p.scdn.co/mp3-preview/96038ec43852eb46dba2765bfa69199f478f84ea?cid=null');
                });
            }
        });

        //function toggleDropDown() {
        //    document.getElementById("myDropdown").classList.toggle("show");
        //}

        //// Close the dropdown menu if the user clicks outside of it
        //window.onclick = function (event) {
        //    if (!event.target.matches('.dropbtn')) {

        //        var dropdowns = document.getElementsByClassName("dropdown-content");
        //        var i;
        //        for (i = 0; i < dropdowns.length; i++) {
        //            var openDropdown = dropdowns[i];
        //            if (openDropdown.classList.contains('show')) {
        //                openDropdown.classList.remove('show');
        //            }
        //        }
        //    }
        //}

    </script>
</body>
</html>